@charset "utf-8";

html{
  overflow-y:scroll; overflow-x:hidden;
}
html, body{
  margin:0; padding:0; font-size:14px; line-height:1.6em;
}

.clear, .group{
  display:block;
}
.clear::before, .clear::after, .group::before, .group::after{
  display:table; content:"";
}
.clear, .clear::after, .group, .group::after{
  clear:both;
}

.article {
  height: 400px;
  overflow:auto;
}

.article-title > img {
  float: left;
  clear:left;
  height:50px;
  margin-right: 15px;
}

.a-color-L {
  color: #020496 !important;
}

.a-color-LC {
  color: #1556ae !important;
}

.a-color-C {
  color: black;
}

.a-color-RC {
  color: #ae1567 !important;
}

.a-color-R {
  color: #920000 !important;
}
